.numero img{
    width: 24px;
    height: 24px;
    margin-left: 45.3%;
    margin-top: -70%;
    margin-bottom: -4%;
  
  }
  .numero p{
    color: black;
    text-align:center;
    
  margin-top: -1.3%;
    margin-left: 0.5%;
    margin-bottom: -4.4%;
  
  }
  
  .lieu img{
    width: 28px;
    height: 28px;
    margin-left: 41%;
    margin-top: -10%;
  margin-bottom: 1.5%;  
  
  }
  .lieu p{
    color: #000;
    text-align: center;
    
  
    margin-top: 1%;
  
  }
  .maila p{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  }
  .maila img{
    width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  margin-left: 45.5%;
  margin-top: -1%;
  
  
  }
  
  .aze img{
    width: 227px;
  height: 140px;
  margin-top:-13%;
  }
  footer{
    width: 100%;
  height: 110px;
  
    background-color: #ffffff;
    padding: 6px; 
    background: linear-gradient(to top, transparent 93.0% ,#079CF0 9%);
    margin-top: auto;
  }
  .info {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
.logo p img {
  height: 150px;
  width: 250px;
  margin-right: 250px;
  justify-content: start;
  display: flex;
  position: relative;
  top: -170px;
  margin-left: -50px;

}
ul {                                                                                         
	display: flex;
	list-style-type: none;
	margin: 20px;
	padding: 0;
    margin-left: 35%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	background-color: #e7e7e7;
	color: #fff;
	padding: 20px;
    background: linear-gradient(to top, #079CF0 5%, transparent 5%);
    
}

nav {
	display: flex;
	align-items: center;
}

nav a {
     margin-right: 30px;
}
      
nav a:hover{
    color: #079CF0;
}

.logo img {
	height: 80px;
	margin-right: 10px;
}
.twin{
    display: flex;
    justify-content: center;
    
}
.book{
    color: #000;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400px;
  
  margin-top: 2%;
  }
  input{
    margin-top: 1%;
    margin-bottom: 7%;
    width: 400px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    

}

label{
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 4%;
    margin-right: 1%;
}

.grand{
    display: inline-block;
    margin-bottom: 10%;
}

.un input{
 width:  450px;  
}
.un p{
  font-size:35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.deux p{
  font-size:35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.trois p{
  font-size:33px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr{
  border-radius: 15px;

  box-sizing: border-box;
  width: 152px;
  height: 8px;
  border: transparent;
 
  background: #079CF0;
}

.deux input{
    width:   450px;
   
}


.trois input{
    width: 450px;
    
}
.form{
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(2,530px);
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: justify;
}


form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  background-color:white;
  height: 750px;
  width: 600px;
  border-radius: 20px 0 0 20px;
  padding: 4%;
}
button:active{
  background-color:#079CF0;
  color:#079CF0;
}
.bout1 button{
  
  cursor: pointer;
  margin-top: 17%;
  font-size: 1.4em;
  background-color: #079CF0;
  color:white;
  border: 2px solid beige;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  margin-left: 27%;
  width: 324px;
  height: 70px;
  position: absolute;
  top: 93%;
  padding: 0.99% 1% 1% 1%;
}

