

.titre h1{
	display: flex;
	justify-content: center;
  font-size:45px ;
  margin-top: 3%;
}
.contact ol a p {
	display: flex;
	justify-content: center;
  font-size: 40px;
  margin-top: 5%;
	
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	background-color: #e7e7e7;
	color: #fff;
	padding: 20px;
    background: linear-gradient(to top, #079CF0 5%, transparent 5%);
    
}

nav {
	display: flex;
	align-items: center;
}

nav a {
     margin-right: 30px;
}
      
nav a:hover{
    color: #079CF0;
}

.logo img {
	height: 80px;
	margin-right: 10px;
}

ul {                                                                                         
	display: flex;
	list-style-type: none;
	margin: 20px;
	padding: 0;
    margin-left: 35%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
.logo p img {
  height: 150px;
  width: 250px;
  margin-right: 250px;
  justify-content: start;
  display: flex;
  position: relative;
  top: -170px;
  margin-left: -50px;

}

.info {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info p {
  margin: 0; 
  padding: 5px; 
  color: #000000;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.info p img {
  height: 25px;
  width: 25px;
  margin:0;
  justify-content: center;
}
.info h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.numero img{
  width: 24px;
  height: 24px;
  margin-left: 45.3%;
  margin-top: -70%;
  margin-bottom: -4%;

}
.numero p{
  color: black;
  text-align:center;
  
margin-top: -1.3%;
  margin-left: 0.5%;
  margin-bottom: -4.4%;

}

.lieu img{
  width: 28px;
  height: 28px;
  margin-left: 41%;
  margin-top: -10%;
margin-bottom: 1.5%;  

}
.lieu p{
  color: #000;
  text-align: center;
  

  margin-top: 1%;

}
.maila p{
display: flex;
justify-content: center;
margin-top: 2%;
color: #000;
}
.maila img{
  width: 26px;
height: 26px;
display: flex;
justify-content: center;
margin-left: 45.5%;
margin-top: -1%;

}

.aze img{
  width: 227px;
height: 140px;
margin-top:-13%;
}
footer{
  width: 100%;
	height: 110px;
  background-color: #ffffff;
  padding: 6px; 
  background: linear-gradient(to top, transparent 93.0% ,#079CF0 9%);
	margin-top: auto;
}


a{
  text-decoration: none;
  color: black;
}
