*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.numero img{
    width: 24px;
    height: 24px;
    margin-left: 45.3%;
    margin-top: -70%;
    margin-bottom: -4%;
  
  }
  .numero p{
    color: black;
    text-align:center;
    
  margin-top: -1.3%;
    margin-left: 0.5%;
    margin-bottom: -4.4%;
  
  }
  
  .lieu img{
    width: 28px;
    height: 28px;
    margin-left: 41%;
    margin-top: -10%;
  margin-bottom: 1.5%;  
  
  }
  .lieu p{
    color: #000;
    text-align: center;
    margin-top: 1%;
  
  }
  .maila p{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  }
  .maila img{
    width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  margin-left: 45.5%;
  margin-top: -1%;
  
  
  }
  
  .aze img{
    width: 227px;
  height: 140px;
  margin-top:-13%;
  }
  footer{
    width: 100%;
  	height: 110px;
    background-color: #ffffff;
    padding: 6px; 
    background: linear-gradient(to top, transparent 93.0% ,#079CF0 9%);
  }
  .info {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .photo img{
    border: transparent;
    width: 100%;
    height:1080px ;
  }
  .mob{
    background-color: white;
    border-radius: 15px;
  }
  .mob{
    background-color: #079CF0;
    border-radius: 15px;
  }
li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
.logo p img {
  height: 150px;
  width: 250px;
  margin-right: 250px;
  justify-content: start;
  display: flex;
  position: relative;
  top: -170px;
  margin-left: -50px;

}
ul {                                                                                         
	display: flex;
	list-style-type: none;
    margin-left: 30%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	background-color: #e7e7e7;
	color: #fff;
	padding: 18px;
    background: linear-gradient(to top, #079CF0 4%, transparent 5%);
    
}

nav {
	display: flex;
	align-items: center;
}

nav a {
     margin-left: 20px;
}
      
nav a:hover{
    color: #079CF0;
}

.logo img {

margin-right: 10px;
width: 227px;
height: 140px;

  
}
.square {
 
  position: sticky; 
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(7, 150, 230, 0.00) 0%, #079CF0 100%);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-top: 30px;
  border-radius: 20px;
  
}
.square img {

  width: 35%;
  height: 60%; 
  margin-top: 18px;
  margin-bottom:-4%;
  border-style:hidden;
}
.text{
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 600px;
  line-height: normal;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text1 h2{
  color: #079CF0;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 32px;
margin-top: 2%;
font-weight: 600px;
line-height: normal;

}
.text2{
color: #079CF0;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 2%;
}
html{
  display: flex;
  flex-direction: column;

}
footer{
	margin-top: auto;
}
