*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	background-color: #e7e7e7;
	color: #fff;
	padding: 20px;
    background: linear-gradient(to top, #079CF0 5%, transparent 5%);
    
}

nav {
	display: flex;
	align-items: center;
}


nav a {
	margin-right: 30px;
}

.fixe{
	margin-top: 0%;
	margin-left: 1%;
	width: 300px;
	display: inline-block;
}

nav a:hover{
    color: #079CF0;
}

.logo img {
	height: 80px;
	margin-right: 10px;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 20px;
	padding: 0;
    margin-left: 34.5%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
}

.square {
    width: 100%;
    height: 80%; 
    position: sticky; 
    background: linear-gradient(to top, #079CF0, #FFFFFF 50%);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
    border-radius: 20px;
}
.square img {
    width: 50%;
    height: 80%; 
    margin-top: 40px;
  }
  .text{
    margin-bottom: 90px;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;

  }
.text1 h2 {
    color: #079CF0;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Inter', sans-serif;

}
.text2 h3 {
    color: #079CF0;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}
.image{
    margin-top: 70px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 60px;
    box-shadow: 0px 0px 10px #ffffff;
    border-radius: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
    border-radius: 20px;
    background-color: rgb(35, 157, 217);
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.square1 {
    width: 100%; 
    height: 100px; 
    border: 4px solid #079CF0; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    border-radius: 15px;
  }

  .text3 {
    text-align: center; 
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

footer {
    background-color: #ffffff; 
    text-align: center; 
    padding: 5px; 
    background: linear-gradient(to top, transparent 99% ,#079CF0 9%);
    margin-top: 10px;
  }
  
  .logo p img {
    height: 150px;
    width: 250px;
    margin-right: 250px;
    justify-content: start;
    display: flex;
    position: relative;
    top: -170px;
    margin-left: -50px;

  }
  
  .info {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .info p {
    margin: 0; 
    padding: 5px; 
    color: #000000;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info a {
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  
  .info p img {
    height: 25px;
    width: 25px;
    margin:0;
    justify-content: center;
  }
  .info h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
