*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
	background-color: #e7e7e7;
	color: #fff;
	padding: 20px;
    background: linear-gradient(to top, rgb(6, 184, 249) 5%, transparent 5%);
}

.fixe{
	margin-top: -2%;
	margin-left: 1%;
	width: 300px;
	display: inline-block;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
     margin-right: 30px;
}
      
nav a:hover{
    color: rgb(6, 184, 249);
}

.logo img {
	height: 80px;
	margin-right: 10px;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 20px;
	padding: 0;
    margin-left: 34%;
	font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

li a {
	color: #000000;
	text-decoration: none;
	padding: 10px;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
}
h3{
    text-align: center;
    margin-top: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 2.5em;
}
.image{
    text-align: center;
    margin-top: 20px;
}
 footer {
    text-align: center; 
    padding: 1px; 
	height: 300px;
    background: linear-gradient(to top, transparent 99% ,#079CF0 9%);
	width: 100%;
    margin-top: 200px;
  }
  
  .logo p img {
    height: 150px;
    width: 250px;
    margin-right: 250px;
    justify-content: start;
    display: flex;
    position: relative;
    top: -170px;
    margin-left: -50px;

  }
  
  .info {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .info p {
    margin: 0; 
    padding: 5px; 
    color: #000000;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info a {
    list-style: none;
    text-decoration: none;
    color: #000;
  }
  
  .info p img {
    height: 25px;
    width: 25px;
    margin:0;
    justify-content: center;
  }
  .info h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
  }
